@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


body {
    
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 100vh;
    overflow: hidden;
}
#background {
    background: url("../images/260219skeyepic.jpg");
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-position: center center;   
    position: fixed; 
    top: 0;
    z-index: -1;
}
#message {
    font-family: "Montserrat", sans-serif;
    font-weight: 900;         
    font-size: 5vw;   
    text-align: center; 
    /*position: fixed;*/   
    color: rgba(255, 255, 255, 0.01);    
    text-shadow:
        0 -1px 1px rgba(255, 255, 255, 0.3), /* Top-left light highlight */
        0 3px 4px rgba(0, 0, 0, 0.2);   
}








