@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


body {
    font-family: "Montserrat", sans-serif;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 100vh;
}
#background {
    background-image: url("../images/260207skeyecandypic.JPG");
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-position: center center;
    position: fixed;
    top: 0;
    z-index: -1;
}
#message {
    font-size: 6vw;   
    text-align: center;
    color: rgb(255, 255, 247, 0.1);    
    text-shadow:
        0 -1px 1px rgba(255, 255, 255, 0.3), /* Top-left light highlight */
        0 3px 4px rgba(0, 0, 0, 0.2);   
}








